<div class="house-wrapper">
    <div class="stay-wrapper">

        <%= image_tag "voltahouse", class: "volta-house" %>
        <div class="volta-house-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque distinctio error, quas similique eligendi perspiciatis! Eos corporis fugit ipsa? Eveniet, laboriosam? Itaque iusto, similique eaque excepturi ut aspernatur! Sit, numquam.
        </div>

        <%= image_tag "kokrobite", class: "kokrobite-house" %>
        <div class="kokrobite-house-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque distinctio error, quas similique eligendi perspiciatis! Eos corporis fugit ipsa? Eveniet, laboriosam? Itaque iusto, similique eaque excepturi ut aspernatur! Sit, numquam.
        </div>
        
        <%= image_tag "oasis", class: "oasis-house" %>
        <div class="oasis-house-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque distinctio error, quas similique eligendi perspiciatis! Eos corporis fugit ipsa? Eveniet, laboriosam? Itaque iusto, similique eaque excepturi ut aspernatur! Sit, numquam.
        </div>
        
    </div>
</div>