<div class="itinerary">
    <% if @tour.name == "volta" %>
        <div class="itinerary-wrapper">
    
            <div class="tour-map-wrapper">
                <%= image_tag "voltamap", class: "tour-map" %>
            </div>
    
            <div class="itinerary-details">
                <div class="itinerary-text">
                    <h1 class="itinerary-number">1</h1>
                    <h1> Accra Pick up</h1>
                    <p> To leave the Accra region and get to Volta we have to cross the Volta lake, the biggest man-made lake in West Africa. After a coupld hours of travellins it’s the perfect chance to rest and enjoy a boat tour on the lake. The boats can come with music and drinks, so you can have a little private party on the lake for half an hour. </p>
                </div>
    
                <div class="itinerary-text">
                    <h1 class="itinerary-number">2</h1>
                    <h1> Accra Pick up</h1>
                    <p> To leave the Accra region and get to Volta we have to cross the Volta lake, the biggest man-made lake in West Africa. After a coupld hours of travellins it’s the perfect chance to rest and enjoy a boat tour on the lake. The boats can come with music and drinks, so you can have a little private party on the lake for half an hour. </p>
                </div>
    
                <div class="itinerary-text">
                    <h1 class="itinerary-number">3</h1>
                    <h1>Accra Pivck up</h1>
                    <p> To leave the Accra region and get to Volta we have to cross the Volta lake, the biggest man-made lake in West Africa. After a coupld hours of travellins it’s the perfect chance to rest and enjoy a boat tour on the lake. The boats can come with music and drinks, so you can have a little private party on the lake for half an hour. </p>
                </div>
    
                <div class="itinerary-text">
                    <h1 class="itinerary-number">4</h1>
                    <h1> Accra Pick up</h1>
                    <p> To leave the Accra region and get to Volta we have to cross the Volta lake, the biggest man-made lake in West Africa. After a coupld hours of travellins it’s the perfect chance to rest and enjoy a boat tour on the lake. The boats can come with music and drinks, so you can have a little private party on the lake for half an hour. </p>
                </div>
    
                <div class="itinerary-text">
                    <h1 class="itinerary-number">5</h1>
                    <h1> Accra Pick up</h1>
                    <p> To leave the Accra region and get to Volta we have to cross the Volta lake, the biggest man-made lake in West Africa. After a coupld hours of travellins it’s the perfect chance to rest and enjoy a boat tour on the lake. The boats can come with music and drinks, so you can have a little private party on the lake for half an hour. </p>
                </div>
            </div>
        </div>
    <% end %>
</div>    
