/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 * {

    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
   
}

//----------nav---------//




.wrap {

 width: 100%;
    position: fixed;
background: rgb(255, 255, 255);
    top: 0;
    z-index: 10;
    //opacity: 0.97;
    //padding: 20px 30px;
    border-bottom: 2px solid  #fafafa;

    
    
    .nav-links {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between !important;
        align-items: center;
        
        margin: auto;
        //background-color: crimson;

        a {
            text-decoration: none;
            color: black;   
        }
    

        a:hover{
            border-bottom: 4px solid #ED6749;
        }
           
        img {

            max-height: 50px;
            max-width: 40%; 
           // background-color: cornflowerblue;
        }
            

         ul {
            // background: chocolate;
             padding: 10px;

             li  {
     
     
                 list-style: none;
                 color: rgb(15, 15, 15);
                 display: inline;
                 cursor: pointer;
                 padding: 5px;
                 margin: 5px 10px; 
                 font-size: 1.2em;
                 font-weight: 500; 
                 // background: yellowgreen;
     
             }
         }


               
    
    
        
        .signup-button {

            border: 1px rgb(0, 0, 0) solid;
            border-radius: 10px;
            padding: 5px;
            font-size: 18px;
            margin-left: 5px;
        }
        
        .login-button {

            border-radius: 10px;
            background: rgb(136, 208, 255);
            font-size: 18px;
            padding: 5px;
            border: 1px rgb(0, 0, 0) solid;
            margin-left: 5px;
        }
    } 

}


 //-----------Tour  new form ----------//
.tour {

    width: 80%;
    background: rgb(236, 236, 236);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 78vh;


    input[type="text"] {

        width: 100%;
        padding: 5px;

    }
    
    .tour-forrm-err {

        color: red;
        font-size: 1.2em;
    }

    .tour-name {

        width: 60%;
        //background: blue;
    }

    .tour-price, 
    .tour-duration,
    .tour-accommodation,
    .tour-meals,
    .tour-entry,
    .tour-pickup,
    .tour-transport {

        width: 300px;
        //background: rgb(9, 255, 0);
        overflow-x: hidden;

        select {

            padding: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    }

    .tour-submit {

        width: 100%;
        //background-color: khaki;
        padding: 5px;

        .tour-btn {

            padding: 10px;
            border: none;
            color: white;
            background: rgb(22, 150, 255);
            width: 150px;
            border-radius: 5px;
        }
        
    }
}


 //------------Tour Index ---------------//

.hero-container {

    background: url("rock.jpeg");
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    .hero-background {

        top: 0;
        width: 100%;
        height: 70vh;
        opacity: none;
     
    }


    .hero-text {

        color: white;
        position: absolute;
        top: 110px ;
       //background-color: #ED6749;
        width: 80%;
        
      
    }
    
    
    .discover-text {

        font-family: 'Montserrat', sans-serif;
        font-size: 4em;
        font-weight: 500;

    }
       
  

    .hero-text-btn {

        padding: 10px;
        margin-top: 30px;
        border: none;
        color: white;
        margin-left: 10px;
        border-radius: 5px;
        width: 200px;
        font-size: 1em;
        background: #ED6749;
        letter-spacing: 2px;
    }    
    
}









//  Find tours on Index //

.find-tour, .find-team{

    //background-color: rgb(66, 142, 241);
    width: 80%;
    color: rgb(10, 10, 10);
    text-align: center;
    margin: auto;
    padding: 80px 0px;

    img {
        width: 100px;
        background: center;
        margin-bottom: 15px;
   
    }
   
    .adventure{
        font-size: 2.4em;
        color: #ED6749;
        margin-bottom: 15px;
    }
    
    .adventure-text {
        line-height: 27px;
    }
   
}


// Tour container and Cards //

.tour-container {
    width: 80%;
   // background: #e95d5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     margin: auto;
     padding: 80px 0px;
   
}

.tour-card {

    background: rgb(255, 255, 255);
    width: 30%;
    min-width: 350px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.15);

    img {

        width: 100%;
        height: 300px;   
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        /* Safari seems to support, but seems deprecated and does the same thing as the others. */
        image-rendering: -webkit-optimize-contrast;
    }

    
    #tour-name {
        
        color: #000;
        padding: 5px 20px;
        letter-spacing: 2px;
        font-size: 2em;
        font-weight: 500;
    }
    
    .tour-sites {
        padding: 0 20px;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 24px;
    }

    .tour-card-details {
        padding: 30px 20px 0px 20px ;
        //padding: 10px;
        line-height: 28px;

        
    }

    .tour-card-item {
        //background: lightcoral;
        color: rgb(36, 36, 36);
        width: 100%;
    }


    #tour-price {
       //background: #ED6749;
        color: #ED6749;   
        text-align: right;
        padding: 20px;
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 1px;
    }
       

    #read-more {
        //background: hotpink;
        padding: 0px 20px 5px 20px;


     
    }

    
}



.team-wrapper {
width: 80%;
margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //background: url("coconuts.png");
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
  //  background-color: #bebcbc;
    padding: 80px 0px;
    

}

.team {

    
    background: white;
    text-align: center;
    padding: 20px;
    width: 30%;
    min-width: 300px;
    box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.15);
    margin: 10px;
    img {
        width: 50%;
        margin-bottom: 5px;
    }

}



// tour show //



.tour-show-photo {

    background-color: rgb(124, 9, 9);
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    padding: 0px 90px ;
    margin-top: 90px;

 
 img {
    width: 600px;
    border-radius: 5px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;
 }



#show-tour-description {

    //background-color: rgb(207, 17, 17) !important;

    width: 600px;
    overflow-y: scroll;
    margin-left: 10px;
    line-height: 24px;


}

        
        

    .tour-region {
        font-size: 2em;
        color: #ED6749;
        margin-bottom: 10px;
    }



    .show-tour-details {

        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        div {
            padding: 10px;
            margin: 10px;
        }
    }



    .tour-show-gallery {
        border: 1px solid red;
       
    }



    .edit-btn {

        padding: 10px;
        background: hotpink;
        text-decoration: none;
        color: white;

    }


    .delete-btn {

        padding: 10px;
        background: red;
        text-decoration: none;
        color: white;
    }
    
}

.tour-gallery-wrapper {

    //background-color: hotpink ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
     
        border-radius: 5px;
        margin: 10px;
        width: 400px;  
        height: 300px;   
        /* Safari seems to support, but seems deprecated and does the same thing as the others. */
        image-rendering: -webkit-optimize-contrast;    
    }

   
}



footer {
    padding: 50px 40px;
    background-color: #57254D;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}