/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 * {

    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    
    font-family: 'Montserrat', sans-serif;
   
}

//----------nav---------//




.wrap {

 width: 100%;
    position: fixed;
    background: rgb(255, 255, 255);
    top: 0;
    z-index: 10;
    //opacity: 0.97;
    //padding: 20px 30px;
    border-bottom: 2px solid  #fafafa;

    
    
    .nav-links {

        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: black;   
        }
    

        a:hover{
            border-bottom: 4px solid #ED6749;
        }
           
        img {

            max-height: 50px;
            max-width: 40%; 
        }
            
        li  {


            list-style: none;
            color: rgb(15, 15, 15);
            display: inline;
            cursor: pointer;
            padding: 5px;
            margin: 5px 10px; 
            font-size: 1.2em;
            font-weight: 500;  

        }
               
    
    
        
        .signup-button {

            border: 1px rgb(0, 0, 0) solid;
            border-radius: 10px;
            padding: 5px;
            font-size: 18px;
            margin-left: 5px;
        }
        
        .login-button {

            border-radius: 10px;
            background: rgb(136, 208, 255);
            font-size: 18px;
            padding: 5px;
            border: 1px rgb(0, 0, 0) solid;
            margin-left: 5px;
        }
    } 

}


 //-----------Tour  new form ----------//
.tour {

    width: 80%;
    background: rgb(231, 231, 231);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 20px;
    margin: auto;


    input[type="text"] {

        width: 100%;
        padding: 5px;
        font-size: 1.1em;

    }
    
    .tour-forrm-err {

        color: red;
        font-size: 1.2em;
        font-style: italic;
    }

    .tour-name {

        width: 60%;
        //background: blue;
    }

    .tour-price, 
    .tour-duration,
    .tour-accommodation,
    .tour-meals,
    .tour-entry,
    .tour-pickup,
    .tour-transport {

        width: 300px;
        //background: rgb(9, 255, 0);
        overflow-x: hidden;

        select {

            padding: 5px;
            font-size: 1em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    }

    .tour-submit {

        width: 100%;
        //background-color: khaki;
        padding: 5px;

        .tour-btn {

            padding: 10px;
            font-size: 1.2em;
            border: none;
            color: white;
            background: rgb(22, 150, 255);
            width: 150px;
            border-radius: 5px;
        }
        
    }
}


 //------------Tour Index ---------------//

.hero-container {

    background: url("rock.jpeg");
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    .hero-background {

        top: 0;
        width: 100%;
        height: 70vh;
        opacity: none;
     
    }


    .hero-text {

        color: white;
        position: absolute;
        top: 110px ;
       //background-color: #ED6749;
        width: 100%;
        
      
    }
    
    
    .discover-text {

        font-family: 'Montserrat', sans-serif;
        font-size: 4em;
        font-weight: 500;
        letter-spacing: 1px;

    }
       
  

    .hero-text-btn {

        padding: 10px;
        margin-top: 30px;
        border: none;
        color: white;
        margin-left: 10px;
        border-radius: 5px;
        width: 200px;
        font-size: 1em;
        background: #ED6749;
        letter-spacing: 2px;
    }    
    
}









//  Find tours on Index //

.find-tour, .find-team{
    
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 30px 0;

    img {
        width: 100px;
        background: center;   
    }
   
    .adventure{
        font-size: 2.4em;
        color: #ED6749;
        margin-bottom: 5px;
    }
    
    .adventure-text {
        font-weight: lighter;
    font-style: normal;
      margin: 10px;
      font-size: 1.3em;
    }
   
}


// Tour container and Cards //

.tour-container {
width: 100%;
    background: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    // margin: auto;
    justify-content: space-evenly;
   
}

.tour-card {

    //background: rgb(25, 117, 255);
    width: 30%;
    min-width: 300px;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px rgb(233, 233, 233);
    margin: 20px;

    img {

        width: 100%;
        height: 300px;   
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        /* Safari seems to support, but seems deprecated and does the same thing as the others. */
        image-rendering: -webkit-optimize-contrast;
    }

    .tour-card-details {
        padding: 10px 20px;
        //padding: 10px;
        line-height: 20px;
    }

    #tour-name {

        color: #000;
        padding: 5px 20px;
        letter-spacing: 2px;
        font-size: 2em;
        font-weight: 500;
    }

    .tour-sites {
        padding: 0 20px;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 24px;
    }

    .tour-card-item {
        //background: lightcoral;
        color: rgb(36, 36, 36);
        width: 100%;
    }


    #tour-price {
       //background: #ED6749;
        color: #ED6749;   
        text-align: right;
        padding: 20px;
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 1px;
    }
       

    #read-more {
    // background: hotpink;
        padding: 10px;
    }

    .read-more {
        padding: 10px;
        //background: greenyellow;
    }
    
}



.team-wrapper {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    //background: url("coconuts.png");
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    background-color: green;
    

}

.team {

    background: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
    max-width: 350px;

    img {
        width: 50%;
        margin-bottom: 5px;
    }

}



// tour show //



.tour-show-photo {

    //background-color: rgb(124, 9, 9);
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    padding: 0px 90px ;
    margin-top: 90px;

 
 img {
    width: 600px;
    border-radius: 5px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;
 }



#show-tour-description {

    //background-color: rgb(207, 17, 17) !important;

    width: 600px;
    overflow-y: scroll;
    margin-left: 10px;
    line-height: 24px;


}

        
        

    .tour-region {
        font-size: 2em;
        color: #ED6749;
        margin-bottom: 10px;
    }



    .show-tour-details {

        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        div {
            padding: 10px;
            margin: 10px;
        }
    }



    .tour-show-gallery {
        border: 1px solid red;
       
    }



    .edit-btn {

        padding: 10px;
        background: hotpink;
        text-decoration: none;
        color: white;

    }


    .delete-btn {

        padding: 10px;
        background: red;
        text-decoration: none;
        color: white;
    }
    
}

.tour-gallery-wrapper {

    //background-color: hotpink ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
     
        border-radius: 5px;
        margin: 10px;
        width: 400px;  
        height: 300px;   
        /* Safari seems to support, but seems deprecated and does the same thing as the others. */
        image-rendering: -webkit-optimize-contrast;    
    }

   
}



footer {
    padding: 40px;
    background: rgb(0, 0, 0);
    color: white;
}