/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
 

* { 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.me {
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;  
    display: flex;
}

.ster {
    width: 100%;
    background: #fafafa;
}

// Side Nav Bar

.side-nav-wrapper {
    background:rgb(0, 0, 0);
    width: 0px;
    top:0;
    right: 0;
    position: fixed;
    transition: 2s;
    z-index: 15;
    height: 100%;  
}

.close {
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.close:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\00D7"; 
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
}

// side nav links

.side-links {
    display: flex;
    flex-wrap: wrap;
    justify-items: baseline;    
    display: none;  
}

.side-link {
    margin: 20px;

    a {
        width: 100%;
        font-size: 1.2em;
        font-weight: 500;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

.burger-wrapper {
    display: none;
    margin-right: 15px;
    cursor: pointer;  
}

.burger {
    margin: 5px;
    height: 2px;
    width: 30px;
    background-color: black;
}

@media(min-width: 908px) {
    .burger-wrapper {
        display: none !important;     
    }
}

.logo-burger-wrapper {
    display: flex;
    align-items: center;
}

//Navigation//

.nav-wrapper {
    background: #ffffff;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    border-bottom: 1px rgb(252, 252, 252) solid;
    box-shadow: 0px 0px 5px 0px rgb(209, 209, 209);
}

.nav-items {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px; 
}

.nav-links {
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;

    .nav-link:hover {
        border-bottom: #ED6749 5px solid;
        padding: 5px 0px;
    }
    
    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: black;
        margin: 10px;
    }
  
    .login {
        border-radius: 5px;
        border: 2px solid #75C093;
        color: #75C093;
        text-align: center;
        padding: 8px;
    }

    .sign-up {
        border-radius: 5px;
        border: 2px solid #ED6749;
        color: #ED6749;
        text-align: center;
        padding: 8px;

    } 
}

@media(max-width: 907px) {
    .nav-links {
        display: none !important;
    }
    .burger-wrapper {
        display: block;
         
     }
}

 //-----------Tour  new form ----------//

.tour {
    width: 80%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    margin-top: 155px;
    margin-bottom: 50px;

    input[type="text"] {
        width: 100%;
        padding: 5px;
    }
    
    .tour-forrm-err {
        color: red;
        font-size: 1.2em;
    }

    .tour-name {
        width: 60%;
    }

    .tour-price, 
    .tour-duration,
    .tour-accommodation,
    .tour-meals,
    .tour-entry,
    .tour-pickup,
    .tour-transport {
        width: 300px;
        overflow-x: hidden;
        
        select {
            padding: 5px;
            font-family: 'Montserrat', sans-serif;
        }

    }

    .tour-description {
        margin-top:30px ;
        width: 100%;

        textarea {
            width: 100%;
            height: 300px;
            font-size: 1.2em;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .tour-submit {
        width: 100%;
        padding: 5px;
        .tour-btn {
            padding: 10px;
            border: none;
            color: white;
            background: rgb(22, 150, 255);
            width: 150px;
            border-radius: 5px;
        }
        
    }
}

 //------------Tour Index ---------------//

.hero-container {
    background: url("rock.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-top: 90px;

    .hero-background {
        top: 0;
        width: 100%;
        height: 70vh;
        opacity: none; 
    }

    .hero-text {
        color: white;
        position: absolute;
        top: 200px ;
        padding: 20px 0px;   

    }
    
    .discover-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5em;
        font-weight: 700;
        letter-spacing: 1px;

    }
       #discover-ghana-btn {
           background: #75C093;
           margin-left: 30px;

           a {
               color: white;
               text-decoration: none;
           }
       }
  
    .hero-text-btn {
        padding: 10px;
        margin-top: 30px;
        border: none;
        color: white;
        margin-left: 10px;
        border-radius: 5px;
        width: 200px;
        font-size: 1em;
        background: #ED6749;

        a {
            color: white;
            text-decoration: none;
        }
    }    
    
}

@media(max-width: 1100px) {  
    .discover-text {
        font-size: 3em !important;
        top: 170px !important;
    }
}

@media(max-width: 934px) { 
    .discover-text {
        font-size: 2.5em !important;
        margin-bottom: 10px;
    }

    .hero-text-btn {
        padding: 10px !important;
        margin: 15px !important;

    } 

    .tour-card {
     width: 15% !important;       
    }

    .tour-name {
        font-size: 24px;
    }

    .index-sites {
        font-size: 16px !important;
    }

}

.index-sites{
    display: flex;
    padding: 0 20px;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 24px;
}

.tour-offer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    padding: 40px 0px;

    .sustainable-icons {
        text-align: center;

        img {
            height: 30px;
        }

        h5 {
            font-weight: 500;
            text-align: center;
            margin-top: 10px;
        }
    }
}

//  Find tours on Index //

.find-tour, .find-team{
    width: 80%;
    color: rgb(10, 10, 10);
    text-align: center;
    margin: auto;
    padding: 80px 0px;

    img {
        width: 100px;
        background: center;
        margin-bottom: 15px;
   
    }
   
    .adventure{
        font-size: 2.4em;
        color: #ED6749;
        margin-bottom: 15px;
    }
    
    .adventure-text {
        line-height: 27px;
    }  
}

// Tour container and Cards //

.tour-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-content: space-between;   
    padding: 50px 0px;
}

.tour-card {
    background: rgb(255, 255, 255);
    width: 30%;
    min-width: 300px;
    padding-bottom: 10px;
    //overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.15);
    margin: 10px 0px;

    img {
        width: 100%;
        height: 300px;   
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        /* Safari seems to support, but seems deprecated and does the same thing as the others. */
        image-rendering: -webkit-optimize-contrast;
        object-fit: cover;

    }

    #tour-name {  
        font-family: 'Arpona', sans-serif;
        color: #000;
        padding: 5px 10px;
        font-size: 38px;
        font-weight: 800;
    }

    .index-sites {
        padding: 5px 15px;
        word-spacing: 2px;
    }
    
    .tour-card-details {
        padding: 5px 10px ;
        line-height: 28px;    
    }

    .tour-card-item {
        color: rgb(36, 36, 36);
        width: 100%;
    }

    #tour-price {
        color: #ED6749;   
        text-align: right;
        padding-right: 20px;
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 1px;  
    }   

    #read-more {
        padding: 10px 20px 5px 20px;
    }
  
}

.team-back {
    background: url("coconuts.png");
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
}

.team-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0px;
}

.team {
    background: white;
    text-align: center;
    width: 30%;
    min-width: 300px;
    box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.15);
    margin: 34px 0px;
    padding: 30px;

    img {
        width: 70%;
    }

    .team-name {
        font-size: 2em;
    }

    .team-info {
        font-size: 16px;
        text-align: left;
        font-family:"Montserrat";
        margin-top: 10px;
    }
}

.tour-discover-wrapper {
    width: 100%;
    padding: 100px 0px;
    background: #fafafa;
}

.tour-discover {
    background-color: #ffffff;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
 

.discover-image {
    width: 50%;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;

    img {
        width: 46%;
        height: 200px;
        object-fit: cover;
        margin: 5px;
    }
}

.discover-info {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 46%;
    min-width: 340px;

    .todo-heading{
        color: black;
        font-size: 2em;
        width: 350px;
    }
}

// tour show //

.tour-show-wrapper {
    background-color: rgb(255, 255, 255);
    padding: 50px  0px;
    position: relative;
    top: 90px;
}

.tour-show {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.tour-pic { 
    width: 50%;   
    min-width: 400px;

    img {
        width: 100%;
        object-fit: cover;
        height: 400px;

    }
}

@media(max-width: 999px) {  
    .show-tour-description {
        margin-top: 30px;
        width: 100% !important;
    }

    .tour-pic { 
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

#show-tour-description {
    max-width: 45%;
    min-width: 400px;
    overflow-y: scroll;
    line-height: 24px;   
    padding-top: 20px;
}

.tour-region {
    font-size: 2em;
    color: #75C093;
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-weight: 500 ;
    margin-top: 10px;
}

.description-text {
    overflow-y: scroll;
}

.tour-show-btn-wrapper {
    padding: 10px 0px;
}

.show-tour-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    
}

.show-tour-detail {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin: 10px;

    img {
        height: 30px;
        margin-right: 10px;
    }  
}

@media(max-width: 999px) {
    .show-tour-details {
        width: 300px;
        margin: 0px !important;
        margin-top: 30px !important;    
    }  
}

.edit-btn {
    padding: 10px;
    background: hotpink;
    text-decoration: none;
    color: white;
}

.delete-btn {
    padding: 10px;
    background: red;
    text-decoration: none;
    color: white;
}

.sites-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.site-edit-form-wrapper {
    width: 40%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;

    input[type="text"] {
        padding: 5px;
        width: 100%;
        height: 40px;
        margin: 10px 0px;
    }
    textarea {
        height: 100px;
        width: 100%;
        margin: 10px 0px;
    }

    .add-site-btn {
        padding: 10px;
        font-size: 18px;
    }
}

.show-site {
    background-color: seagreen;
    margin-right: 15px;
    font-size: 20px;
}
.site-form-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.tour-map-wrapper {
    width: 50%;
    min-width: 300px;

    .tour-map {
        width: 100%; 
   
    }
}


.itinerary-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
   // background: darkgoldenrod;
    padding: 100px;
}

.itinerary-details {
   width: 45%;
   min-width: 300px;
   padding: 30px 0px;
}

.itinerary-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

    h1 {
        font-weight: 400;        
        font-size: 25px;
        margin-right: 15px;
    }

    p {
        margin-top: 5px;

    } 
}

.itinerary-number {
    color: #F47559;
}

.tour-map {
    width: 400px;
    object-fit: cover;
}

footer {
    background-color: #381A31;
    color: white;
    padding-top: 150px;
    padding-bottom: 50PX;
}

.footer-logo {
    width: 200px;
}

.socail-wrapper {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
 }

.contactus { 
    line-height: 26px;
    font-size: 24px;
    margin-bottom: 30px;
}

.footer-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;

    p {
        margin-left: 10px;
    }  
}

.footer-social {
    width: 20px;
    color: white;
}

@media(max-width: 593px) {
    #footer-pic {
        margin-top: 30px;
        img {

            width: 150px !important;
        }
    }
   
}

/////discover Ghana//

.shai {
    padding: 100px 0px;
}

.things-todo-wrapper {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    overflow-y: scroll;
}

.todo-pic {
    height: 500px;
    width: 50%;
}

#first-todo-pic, #third-todo-pic {
    float: left;
}

#second-todo-pic, #fourth-todo-pic {
    float: right;
}
#second-todo-info-wrapper {
    float: left;
}

.todo-info-wrapper {
    height: 500px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .todo-heading {
        margin-bottom: 20px;
    }
}

.todo-info-text {
    padding: 30px;
}

@media(max-width: 998px) { 
    #second-todo-pic, #fourth-todo-pic, #first-todo-pic, #third-todo-pic {
        float: left;
        width: 100%;
    }
    .todo-info-wrapper {
        width: 100% !important;
    }

    .todo-heading {
        margin-bottom: 10px;
    }

    .todo-info-text {
         padding: 10px;
     }
}


.todo-image {
    width: 100%;
    min-width: 300px;
    object-fit: cover; 
    height: 100%;
}

.todo-triangle {  
    height: 200px;
}

.todo-heading {
    font-weight: 400;
    padding: 10px 0px;
}

//Login form

.login-heading {
    text-align: center;
    margin: 50px 0px;
    font-weight: 400;
}

.new_user {
    background: #ffffff;
    width: 50%;
    margin: auto;
    padding: 20px;
    font-size: 1.3em;
    margin-bottom: 120px;

    input[type=submit] {
        font-size: 14px;
        margin: 20px 0px;
        padding: 10px;
    }
}

.field {
    input {
        width: 100%;
        margin: 20px 0px;
        font-size: 1em;
    }

    input[type=checkbox] {
        width: 15px;
    }
    input[type=email], input[type=password] {
        
        height: 40px;
    }  
}

// Houses for tourist to stay in 

.house-wrapper {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 80px 0px;
    height: auto;

}

.stay-wrapper{
    width: 80%;
    margin: auto;

}

.volta-house {
    width: 50%;
    min-width: 300px;
    height: 500px;
    object-fit: cover;
    float: left;
}

.volta-house-info {
    background: rgb(255, 255, 255);
    height: 500px;
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    padding: 20px;  
}

.oasis-house {
    width: 50%;
    min-width: 300px;
    height: 500px;
    object-fit: cover;
    float: left;
}

.oasis-house-info {
   height: 500px;
   width: 50%;
    float: left;
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgb(255, 255, 255);
}

.kokrobite-house {
    width: 50%;
    min-width: 300px;
    height: 500px;
    object-fit: cover;
    float: right;
}

.kokrobite-house-info {
    height: 500px;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgb(255, 255, 255);
}

@media(max-width: 750px) {
 
    .volta-house {
        width: 100%;
    }

    .volta-house-info {
        width: 100%;
        align-items: flex-start;
        height: auto;    
    }

    .kokrobite-house {
        width: 100%; 
        float: none;
    }
    .kokrobite-house-info {
        width: 100%;
        align-items: flex-start;
        height: auto;   
    }

    .oasis-house {
        width: 100%;
        float: none;
    }
    .oasis-house-info {
        width: 100%;
        align-items: flex-start;
        height: auto;   
    }

}


