

<section style="width: 100%; background: white">
    <div id="find-team" class="find-team">
        <%= image_tag "colors.png", alt: "colors" %>
        <p class="adventure">Our favourite things to do in Ghana</p>
    </div> 
</section>







