

<section style="width: 100%; background: white">
    <div id="find-team" class="find-team">
        <%= image_tag "colors.png", alt: "colors" %>
        <p class="adventure">Our favourite things to do in Ghana</p>
    </div> 
</section>

<section style="width: 100%; background: #fafafa; padding: 60px 0px; ">
    <div class="todo-wrapper" style="width: 80%; background:rgb(255, 255, 255); display: flex;  margin: auto; flex-wrap: wrap; align-items:center;">

        <%= image_tag "voltalake.jpeg", alt: "colors", class: "todo-image"%>

        <div class="todo-text">
        
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined 
        </div>


        
        <div class="todo-text">
            
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined 
                
            </p>
        </div>
        <%= image_tag "voltalake.jpeg", alt: "colors", class: "todo-image"%>

    </div>


</section>


