<footer>
    
  <div class="socail-wrapper">
    <div class="footer-contacts">

      <p class="contactus">Contact us:</p>

      <div class="footer-icons">
       <%= image_tag "ig", class: "footer-social", alt: "footer-social"  %>
       <p>ghana_sobolotours</p>
      </div>

      <div class="footer-icons">
        <%= image_tag "whatsapp", class: "footer-social", alt: "footer-social"  %> 
        <p>+233 547 917539</p>  
      </div> 

      <div class="footer-icons">
        <%= image_tag "email", class: "footer-social", alt: "footer-social"  %>
        <p>ghanasobolotours@gmail.com</p>
      </div>

    </div>

    <div class="footer-pic"> 
      <%= image_tag("footerlogo.png", class: "footer-logo", alt: "logo" ) %>
    </div>
    
  </div>
</footer>