<footer>
    
  <div class="socail-wrapper">
    <div class="footer-contacts">

      <p class="contactus">Contact us:</p>

      <div class="footer-icons">
       ghana_sobolotours
      </div>

      <div class="footer-icons">
        +233 547 917539
      </div> 

      <div class="footer-icons">
       ghanasobolotours@gmail.com
      </div>
    </div>

    <div class="footer-logo"> 
      <%= image_tag("footerlogo.png", class: "logo", alt: "logo" ) %>
    </div>
    
  </div>
</footer>