<footer>
    
  <div class="socail-wrapper">

    <div class="footer-contacts">

      <p class="contactus">Contact us:</p>

      <div class="footer-icons">
        <i class="fab fa-instagram-square"> </i> @ghana_sobolotours
      </div>

      <div class="footer-icons">
        <i class="fab fa-whatsapp"> </i> +233 547 917539
      </div> 

      <div class="footer-icons">
        <i class="far fa-envelope"></i>ghanasobolotours@gmail.com
      </div>

      <div class="copyright">
        &copy; Shai Sterling
      </div> 

    </div>

    <div class="footer-logo"> 
      <%= image_tag("footerlogo.png", class: "logo", alt: "logo" ) %>
    </div>

  </div>

</footer>