<footer>
    <!-- <div class="copyright">

      &copy; Shai Sterling
    </div> -->


    <div class="footer-colors">
      <%= image_tag"footer-colors.png" %>
    </div>

      <div class="socail-wrapper">

        <div class="footer-contacts">

          <h2>Contact us:</h2>



              <p>
                <i class="fab fa-instagram-square"> @ghana_sobolotours</i> 

              </p>

          <p>
            <i class="fab fa-whatsapp"> +233 547 917539</i>

          </p> 



            <p>
              <i class="far fa-envelope"> ghanasobolotours@gmail.com</i> 

            </p>


        </div>


        <div class="footer-logo"> 
          <%= image_tag("footerlogo.png", class: "logo", alt: "logo" ) %>

        </div>



  </div>
</footer>