<nav class="wrap">
    <div class="nav-links">

      <%= image_tag("sobolo.png", class: "logo", alt: "logo" ) %>


      <div class="nav-list">
        <ul>
          <li class="nav-list-item"><%= link_to "Home", root_path %></li>
          <li class="nav-list-item">Contact us</li>
          <li class="nav-list-item">About us</li>
          <li class="nav-list-item"><%= link_to "New tour", new_tour_path %></li>
          <li class="nav-list-item"><%= link_to "Tours", tours_path %></li>
        </ul>

      </div>
    </div>
  </nav>
